{% extends 'base.html' %} 

{% block page_title %}Password Reset Page{% endblock %} 

{% block page_heading %}Confirm Password{% endblock %}

{% block content %}
<form method="post">
    <p>Please enter your new password</p>

    {% csrf_token %}

    {{ form.email.errors }}

    <p>
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
        <button>Confirm Password</button>
    </p>
</form>
{% endblock %}